:root {
  --header-height: 3rem;

  /*==========Colors===========*/
  --hue-color: 80; /* Green 142 - Blue 230*/

  /*==========Hsl Colors===========*/
  --first-color: hsl(var(--hue-color), 69%, 50%);
  --second-color: hsl(var(--hue-color), 69%, 84%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --second-color-alt: hsl(var(--hue-color), 23%, 38%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --swiper-theme-color: hsl(var(--hue-color), 69%, 61%);
  --container-color: #FFF;

  /*==========Font e Tipografia===========*/
  --body-font: 'Poppins', sans-serif;

  /* 0.5rem = 8px, 1rem = 16px, 1.5rem = 24px...*/
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*==========Font Weight===========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*==========Margins Bottom ===========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px...*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ===========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="number-slide"],
[class*=" number-slide"] {
  /* background: grey; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* font-size: 50px; */
  /* color: #fff; */
  font-weight: 500;
  /* height: 390px; */
  max-height: 100vh;
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: var(--first-color);
}

.arrow {
  width: 1.5rem;
  content: '';
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: var(--first-color);
  cursor: pointer;
}

.arrow--left {
  left: -1rem;
  content: '';

}

.arrow--right {
  right: -1rem;
  content: '';

}

.arrow--disabled {
  fill: hsl(80, 15%, 83%);
}
